/*FOR ALL */

*{
	padding: 0;
	margin:0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}



/*------------------------------------ HERO SECTION ------------------------------------ */

/* setting up hero */
.hero{
	height: 100vh;
	width: 100%;
	background-image:url(wp1.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 45px;
	padding-right: 4%;
	padding-left: 4%;

}


/* ----------- navigation ----------- */

nav{
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	margin-left: -4%;
	width: 100%;
	position: fixed;
	padding: 1% 4% 1% 4%;
	background-color: rgba(0, 0, 0, 0.5);
}

/* Logo  (portfolio) */
.logo{	
	color:white;
	font-size: 40px;
	letter-spacing: 2px;
	cursor: pointer;
}

/* logo's lio */
span{
	color:#B22222;
}


/* Items in nav */
nav ul li{ 

	font-size: 1.5em;
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}


/* Links decoration of NAV */
nav ul li a{
	color:white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{

	color:#FF4500;
	transition:.5s ;
}

nav ul li a:active{
	font-size: 0.9em;
	transition:.4s ;
}






/*------ Buttons style -----*/
.button{
	font-size: 1.2em;
	color:black;
	text-decoration: none;
	padding: 13px 25px;
	background-color: #ADD8E6;
	border-radius: 20px;
}

.button:hover{
	background-color:#FFEBCD; 
	transition: .5s;
}

.button:active{
	padding: 15px 27px;
	transition: .1s;
}


/* ----------- CONTENT ----------- */
.content{
	position: absolute;
	color:white;
	top:50%;
	left:8%;
	transform: translateY(-50%);


}

/* Surname */
.content span{
	color:#B22222;
}

h1{
	color:#ADD8E6;
	margin:20px 0px 20px;
	font-size: 50px;
}

h3{
	font-size: 25px;
	margin-bottom: 50px;
}


h4{
	font-size: 20px;
	color:#B22222;
	letter-spacing: 4px;

}


/* Button decoration in content */
.btn{
	position: absolute;
	text-decoration: none;
	background-color: #ADD8E6;
	color:darkred;
	padding: 10px 25px;
	border-radius: 30px;
	font-weight: bold;
	transition: transform .4s;
}

.btn:hover{
	transform: scale(1.1);

}







/*------------------------------------ ABOUT ME SECTION ------------------------------------ */

/* setting up section */
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}

/*  setting up div for two items inside it*/
.main{ 
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


/* image */
.about img{
	height: auto;
	width: 430px;
}



/* text */
.about-text{
	width: 550px;
	margin-bottom: 80px;
}


/* main title */
.about-text h2{
	color:white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 60px;
}

/* smoller title */
.about-text h5{
	color:white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
}

/* main text */
.about-text p{
	color:#ADD8E6;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}



/*------------------------------------ SKILL'S SECTION ------------------------------------ */

/* setting up section */
.skills{
	width:100%;
	padding: 100px 0px;
	background-color: #191919;
}

/* setting up section for items that located in this content */
.skills .skills_content{
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 60px;
	margin-top: -70px;


}

.skills .skills_content .column{
	width: calc(50% - 30px);
}


/*--- Text --- (title as well)*/
.skills .skills_content .left .text{
	color:red;
	font:50px;
	font-weight: 600;
	margin-bottom: 10px;
}
/* text himself */
.skills .skills_content .left p{
	color:white;


}

/* Bars setting */
.skills .skills_content .right .bars{
	margin-bottom: 10px;
}

.skills .skills_content .right .info{
	display: flex;

	justify-content: space-between;
}


/* titles of skilss */
.skills .skills_content .right .skill_main{
	color:white;
	font-weight: 900;
	font-size: large;

}


/* % numbers on the right */
.skills .skills_content .right .protsent{
	color:red;
	font-weight: 900;
	font-size: large;	
}

/* EMPTY lines*/
.skills .skills_content .right .line{
	height: 5px;
	width: 100%;
	background-color: #ffffff;

	position: relative;
}


/* Over lines | Blue lines that will cover empty lines  */
.skills .skills_content .right .line::before{
	content: "";
	position: absolute;
	height: 100%;
	left:0;
	top: 0;

	background-color: #0064C8;
}


/*------------- HTML ------------- */
.skills .skills_content .right .html::before{
	width: 70%;
	
}

/*------------- CSS ------------- */
.skills .skills_content .right .css::before{
	width: 60%;
	
}

/*------------- HTML ------------- */
.skills .skills_content .right .JS::before{
	width: 50%;
	
}

/*------------- REACT ------------- */
.skills .skills_content .right .react::before{
	width: 10%;
}



/*------------------------------------ MY SERVICE SECTION ------------------------------------ */


/* setting up section  */
.service{
	background-color: #101010;
	width: 100%;
	padding: 100px 0px;
}

/* TITLE  */
.title h2{
	color:white;
	font-size: 75px;
	width: 1130px;
	margin:30px auto;
	text-align: center;
}


/* setting up box (container for three cards (box)) */
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}


/* setting up cards/boxes */
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background:#191919;
	border-radius: 20px;
	margin:15px;
	position: relative;
	overflow: hidden;
	text-align: center;

}

/* setting up ICONS */
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin:20px 0px;
	color:#0064C8;
}


/* card's TITLE */
h5{
	color:white;
	font-size: 23px;
	margin-bottom: 25px;
}

/* texts */
.pra p{
	color:#3FD7FC;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}


/* button */
.card .button{
	background-color:#0064C8;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

/* Hover of button only in cards */
.card .button:hover{
	background-color: transparent;
	border: 2px solid #0064C8;
	cursor: pointer;
}



/*------------------------------------ CONTACT ME SECTION ------------------------------------ */

.contact{
	padding: 0;
    margin: 0;
    /* background-color: rgb(0, 166, 255); */
    /* background-image: url(wp1.jpg); */
    background-color: #0F1922;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}


#h1{
    color:whitesmoke;
}


form{
    display: flex;
}



input::placeholder{
    color:whitesmoke;

}

input{
    background-color: #1F2731 ;
    color:whitesmoke;
}

p{
    color:whitesmoke;
}

/* FORM 1 */

.form1{

    margin-top: 150px;
    margin-left: 300px;
}

.form1 input{
    /* padding: 5px 50px; */
    inline-size: 500px;
    block-size: 30px;
    margin-bottom: 100px;
    border-radius: 4px;
    border-color: none;

    border: solid 1px #767676;
}

#input_text::placeholder{
	font-size: 20px;
}

input:hover{
    background-color:#38404A;
    transition: .4s;
}




/* FORM 2 */

.form2{

    margin-left: 30px;
    margin-top: 100px;
    
}


.form2 textarea{
    inline-size: 600px;
    max-inline-size: 600px;
    min-inline-size: 600px;
    block-size: 300px;

    border-radius: 7px;

    background-color: #1F2731 ;

    color:whitesmoke;
}


.form2 textarea:hover{
    background-color:#38404A ;
}

#send{
    border: 1px solid #767676;
    background-color: #1F2731;
    inline-size: 100px;
    block-size: 30px;
    margin-left: 500px;
    margin-top: 30px;
    color:whitesmoke;
    border-radius: 7px;
}

#send:hover{
    color:rgb(142, 249, 249);
    background-color: #38404A;
    transition: .9s;
}

/* LIST OF SOCIAL MEDIES */
ul{
    margin-left: 80px;
    display: flex;
    list-style: none;
    
}
ul li{
    margin-left: 10px;
}

/*
i{
    font-size: 38px;
	display: block;
	text-align: center;
	margin:20px 10px;
    color:whitesmoke; 
	
}
*/



/*------------------------------------ FOOTER SECTION ------------------------------------ */

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #191919;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p{
	color: white;
}

.first_p{
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bolder;
}

.second_p{
	font-size: 17px;
	width:500px;
	text-align: center;
}

.social{
	display: flex;

}

.social a{
	display: flex;
	width: 45px;
	height: 45px;
	color:red;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	margin: 22px 10px;
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.end{
	position: absolute;
	color:#3FD7FC;
	font-size: 25px;

	bottom: 35px;

}